<!DOCTYPE html>
<html>
 <head>
  <title>Portfolio</title>
  {% load static%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  
 </head>

 <body>
  <div class="left">
    <div class="first">
      <div class="first-1">
        <img src="{% static 'images/girl.jpg' %}" id="img">
      </div>
      <div class="first-2">
        <p>Prajeena Bhlon</p>
      </div>
      <div class="first-3">
        <p>Web developer<p>
      </div>
      <div class="first-4">
        <button id="email-btn">Email me</button> 
      </div>
  </div>
 </body>
</html>





