.main-bar {
  background-color: whitesmoke;
  width: 100vw;
  height: 100px;
  display: flex;
}

#main-bar-1 {
  width: 50%;
  font-size: 1.5rem;
  color: black;
}

.main-bar-side {
  width: 50%;
  display: flex;

}

#main-bar-2,
#main-bar-3 {
  width: 10%;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

#main-bar-4 {
  justify-items: flex-end;
  width: 10%;
}

#profile-img {
  padding-left: 40px;
  padding-top: 20px;
  height: 40px;
  width: 40px;
}