<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Student</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    
  </head>
  
  <body>
    <div class="main-bar">
      <div id="main-bar-1">
        <p>Student</p>
      </div>
      <div class="main-bar-side">
        <div id="main-bar-1">
          <a class="link" href="/employee/about/">
            <p>About</p>
          </a>
        </div>
        <div id="main-bar-1">
          <a class="link" href="/employee/">
            <p>Contact</p>
          </a>
        </div>
        <div id="main-bar-1">
          <img id="profile-img" src="{% static 'images/catlogo.jpg'%}">
        </div>
      </div>
    </div>
      
    {% block body %}{% endblock body%}
  </body>
</html>