<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/landing.css'%}">
</head>
<body>
    <div class="landing">
        <div>
            <h1 id="welcome">Welcome to Employee Portal</h1>
        </div>
        <div>
            <p class="link-p">Already have an account? <a class="link" href="{% url 'login' %}">Login</a></p>
        </div>
        <div>
            <p class="link-p">Don't have an account? <a class="link" href="{% url 'register' %}">Register</a></p>
        </div>    
    </div>
    
</body>
</html>
